@use "../utilities/variables" as v;

.presentation{

    border-radius: 0 0 -10% -10%;

    background-image: url("../../images/programing.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 80vh;

    color: map-get($map: v.$colors, $key: "semi-white");

    h1{
        font-family: "Roboto Condensed";
        font-size: 3rem;
        text-shadow: 2px 2px 2px black;
    }

    h3{
        font-family: "Roboto Mono";
    }

    display: grid;
   align-items: center;
    justify-items: center;

   

}