@use "../utilities/variables";

.projects{

    padding-bottom: 2rem;

    .projects__cards{
        display: grid;

    grid-template-columns: repeat(auto-fit,400px);

    justify-content: center;
    }
    
    border-bottom: 2px solid map-get($map: variables.$colors, $key: "semi-black");

    h2{
        font-family: "Roboto Mono";
        text-align: center;
        margin: 1.5rem 0 1.5rem 0;
    }
}