@use "../utilities/variables";

.projects{

    border-radius: 30%/5%;

    background-color: map-get($map: variables.$colors, $key: "semi-white");

    margin-top: -4rem;

    padding-top: 2rem;

    padding-bottom: 2rem;

    .projects__cards{
        display: grid;

    grid-template-columns: repeat(auto-fit,400px);

    justify-content: center;
    }
    
    h2{
        font-family: "Roboto Mono";
        text-align: center;
        margin: 1.5rem 0 1.5rem 0;
    }

    @media (min-width: map-get(variables.$sizes,"small")) {
        border-radius: 25%/7%;
    }
    @media (min-width: map-get(variables.$sizes,"medium")) {
        border-radius: 25%/7%;
    }
    @media (min-width: map-get(variables.$sizes,"large")) {
        border-radius: 25%/10%;
    }

}