@use "./utilities/fonts";
@use "./utilities/variables";

@use "./layout/header";
@use "./layout/presentation";
@use "./layout/projects";
@use "./layout/about";

@use "./components/projects-card";

a {
  color: map-get($map: variables.$colors, $key: "semi-black");
  /* blue colors for links too */
  text-decoration: none;
  /* no underline */
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: map-get($map: variables.$colors, $key: "semi-white");
}

strong {
  color: map-get($map: variables.$colors, $key: "semi-black");
}